@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(101, 101, 182);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "VT323", monospace; 
}
/* heading tags I have no idea  */

header {

  background-image: linear-gradient(purple,blue,green);
  color: rgb(39, 11, 35);
}

header h1 {
  text-align: center;
  margin: 0 0 20px;
  padding: 25px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}

#canvas {
  border: 3px solid #d0d8dd;
  display: grid;
  grid-template-columns: repeat(10, 50px);
  height: 500px;
  margin: 0 auto;
  width: 500px;
}

.cell {
  border: 1px solid #879299;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  height: 50px;
  width: 50px;
}

#current-color {

  background-color: rgb(128, 100, 100);
  border: 2px solid #393e41;
  display: block;
  height: 50px;
  margin: 15px auto;
  width: 50px;
}

button {
  margin-top: 55px;
}

#palette {
  height: 75px;
  margin: 25px auto;
  text-align: center;
  background-image: linear-gradient(rgb(116, 68, 116),rgb(82, 82, 233),rgb(54, 124, 54));
  width: 80%;
}

#palette .color {
  /* these are the individual .color <divs> but why are they round? */
  border: 2px solid #393e41;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  margin: 10px;
  height: 50px;
  width: 50px;
}
